:root {
  --bg: #141412;
  --ac: #2b2031;
  --fg: #d3d9bf;
  --color1: #2b2031;
  --color2: #f0e3f7;
  --fontcolor-fg: #d9d3c5;
  --fontcolor-ac: #574d39;
  --font-big: min(4vw, 4vh);
}


.nunito-<uniquifier> {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}


html, body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--fg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-wraper {
  width: 94vw;
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.left-header {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.right-header {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.header-button-wraper {
  width: 30%;
  height: 100%;
  background-color: var(--fg);
  border-radius: min(4vw, 4vh) min(4vw, 4vh) 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-button {
  width: 80%;
  height: 80%;
  font-size: var(--font-big);
  background-color: #00000000;
  border: none;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: var(--fontcolor-ac);
}
.active {
  color: var(--fontcolor-fg);
  background-color: var(--bg);
}

.round-right {
  width: min(2vw, 2vh);
  height: 100%;
  background-color: var(--fg);
}
.round-right.active {
  background-color: var(--bg);
}
.inner-round-right {
  width: 100%;
  height: 100%;
  background-color: var(--fg);
  border-radius: 0 0 0 min(2vw, 2vh);
}

.round-left {
  width: min(2vw, 2vh);
  height: 100%;
  background-color: var(--fg);
}
.round-left.active {
  background-color: var(--bg);
}
.inner-round-left {
  width: 100%;
  height: 100%;
  background-color: var(--fg);
  border-radius: 0 0 min(2vw, 2vh) 0;
}







.content {
  width:100%;
  height: 90%;
  background-color: var(--bg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.content.home-content {
  border-radius: 0 min(4vw, 4vh) min(4vw, 4vh) min(4vw, 4vh);
}
.content.project-content {
  border-radius: min(4vw, 4vh) min(4vw, 4vh) min(4vw, 4vh) min(4vw, 4vh);
}
.content.resume-content {
  border-radius: min(4vw, 4vh) 0 min(4vw, 4vh) min(4vw, 4vh);
}
