<!DOCTYPE html>
<html>
	<head>
		<title>e-shoes</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='style-e-shoes.css') }}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Honk:MORF,SHLN@14,54.1&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	</head>

	<body>
		<canvas id="wave-bg"></canvas>
		<div id="bg-cover"></div>

		<header>
			<p>hi</p>
		</header>
		
		<section class="page">
			<div class="slogan-wrap">
				<h1 class="slogan">No issues, I've got</h1>
				<img class="logo-e-shoes" src="{{ url_for('static', filename='e-shoes-logo.png') }}"></img>
			</div>
			<div class="page-content">
				<div class="card">
					<img src="{{ url_for('static', filename='shoes1.png') }}"></img>
					<p class="title-card">title 1 | 265 euros</p>
					<p class="description-card">paragraphe explicant en quoi la shoes 1 est particulierre</p>
					<button class="buy" onclick="window.location.href='https://youtu.be/RZ_0ImDYrPY?si=xGV2miamN_MS69Ia'">Buy now !</button>
				</div>
				<div class="card">
					<img src="{{ url_for('static', filename='shoes2.png') }}"></img>
					<p class="title-card">title 2 | 265 euros</p>
					<p class="description-card">paragraphe explicant en quoi la shoes 1 est particulierre</p>
					<button class="buy" onclick="window.location.href='https://youtu.be/RZ_0ImDYrPY?si=xGV2miamN_MS69Ia'">Buy now !</button>
				</div>
				<div class="card">
					<img src="{{ url_for('static', filename='shoes3.png') }}"></img>
					<p class="title-card">title 3 | 265 euros</p>
					<p class="description-card">paragraphe explicant en quoi la shoes 1 est particulierre</p>
					<button class="buy" onclick="window.location.href='https://youtu.be/RZ_0ImDYrPY?si=xGV2miamN_MS69Ia'">Buy now !</button>
				</div>
			</div>
		</section>

		<script src="{{ url_for('static', filename='script-bg-e-shoes.js') }}"></script>
		<script src="{{ url_for('static', filename='script-e-shoes.js') }}"></script>
	</body>

</html>
