<!DOCTYPE html>
<html>
	<head>
		<title>arnaudlelievre.fr</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
	</head>

	<body>
		<div class="page-wraper">
			<div class="header">

				<div class="left-header">

					<div class="header-button-wraper home active">
						<button class="header-button home active" id="homeBtn">Home</button>
					</div>
					<div class="round-right home active">
						<div class="inner-round-right home active">
						</div>
					</div>

				</div>

				<div class="right-header">

					<div class="round-left projects">
						<div class="inner-round-left projects">
						</div>
					</div>
					<div class="header-button-wraper projects">
						<button class="header-button projects" id="projectsBtn">Projects</button>
					</div>
					<div class="round-right projects">
						<div class="inner-round-right projects">
						</div>
					</div>

					<div class="round-left resume">
						<div class="inner-round-left resume">
						</div>
					</div>
					<div class="header-button-wraper resume">
						<button class="header-button resume" id="resumeBtn">Resume</button>
					</div>

				</div>

			</div>

			<div class="content home-content">
				<p>arnaudlelievre.fr</p>
			</div>
		</div>


		<script src="{{ url_for('static', filename='script-bg.js') }}"></script>
		<script src="{{ url_for('static', filename='script.js') }}"></script>
	</body>

</html>
