<!DOCTYPE html>
<html>
	<head>
		<title>arnaudlelievre.fr</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
	</head>

	<body>
		<div class="page-wraper">
			<div class="header">
				<div class="tab-blob"></div>

				<div class="left-header">

					<div class="header-button-wraper home active">
						<button class="header-button home active" id="homeBtn">Home</button>
					</div>
					<div class="round-right home active">
						<div class="inner-round-right home active">
						</div>
					</div>

				</div>

				<div class="right-header">

					<div class="round-left projects ">
						<div class="inner-round-left projects ">
						</div>
					</div>
					<div class="header-button-wraper projects ">
						<button class="header-button projects " id="projectsBtn">Projects</button>
					</div>
					<div class="round-right projects ">
						<div class="inner-round-right projects ">
						</div>
					</div>

					<div class="round-left resume">
						<div class="inner-round-left resume">
						</div>
					</div>
					<div class="header-button-wraper resume">
						<button class="header-button resume" id="resumeBtn">Resume</button>
					</div>

				</div>

			</div>

			<div class="content home-content home active">
				<div class="left-hero">
					<div class="left-top-hero">
						<p class="arnaudlelievre">Arnaud Lelievre</p>
						<p class="activity">Engineering student at ENSTA</p>
					</div>
					<div class="spearator-top-bottom">
					</div>
					<div class="left-bottom-hero">
						<div class="link-tab">
							<div class="link-tab-top">
								<div class="link-item link-item-left link-github" onclick="window.open('https://github.com/ArnaudLelievre48', '_blank')">
									<div class="img-wrapper">
										<img class="link-logo" src="{{ url_for('static', filename='github.svg') }}"></img>
									</div>
								</div>
								<div class="link-item link-item-right link-youtube" onclick="window.open('https://www.youtube.com/@arnaudlelievre48/featured', '_blank')">
									<div class="img-wrapper">
										<img class="link-logo" src="{{ url_for('static', filename='youtube.svg') }}"></img>
									</div>
								</div>
							</div>
							<div class="link-tab-bottom">
								<div class="link-item link-item-left link-linkedin" onclick="window.open('https://www.linkedin.com/in/arnaud-lelievre-160359289/', '_blank')">
									<div class="img-wrapper">
										<img class="link-logo" src="{{ url_for('static', filename='linkedin.svg') }}"></img>
									</div>
								</div>
								<div class="link-item link-item-right link-email" onclick="window.location.href='mailto:arnaudlelievre.fr@gmail.com'">
									<div class="img-wrapper">
										<img class="link-logo" src="{{ url_for('static', filename='email.svg') }}"></img>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="right-hero">
					<canvas id="fluidCanvas">
					</canvas>
					<div class="right-hero-content">
						<p class="right-hero-text-title">Hi !</p>
						<p class="right-hero-text">My name is Arnaud Lelievre, and this is my website</p>
						<p class="right-hero-text">I am hosting it myself !</p>
						<span class="vspan"></span>
						<p class="right-hero-text">I am a 21 yo engineering student at ENSTA, Brest.</p>
						<p class="right-hero-text">My interests are fluid mechanics, programming, Linux, basketball, running,</p>
						<p class="right-hero-text">lifting and cooking</p>
					</div>
				</div>

			</div>

			<div class="content project-content projects">
						<p class="arnaudlelievre">Projects</p>
			</div>
			<div class="content resume-content resume">
						<p class="arnaudlelievre">Resume</p>
			</div>

		</div>


		<script src="{{ url_for('static', filename='script-bg.js') }}"></script>
		<script src="{{ url_for('static', filename='script.js') }}"></script>
	</body>

</html>
